@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

:root {
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 0%);
    --Dark-Gray: hsl(0, 0%, 55%);
    --Very-Dark-Gray: hsl(0, 0%, 41%);

    --ff--josefin-sans: "Josefin Sans,"sans-serif;
    --ff-alata: "Alata",sans-serif;
    --fs-h1: 4.7em;
    --fs-h2: 3.2em;
    --fs-h3: 2.1em;
    --fs-regular: 15px;
    --fw-300: 300;

    --px:165px;
    --mb: 180px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--ff-alata);
    font-size: var(--fs-regular);
}

li {list-style: none;}

a {
    text-decoration: none;
    display: inline-block;
    color: var(--White);
}

h1,h2,h3 {
    font-weight: var(--fw-300);
    letter-spacing: 2px;
    font-family: var(--ff--josefin-sans);
    text-transform: uppercase;
}

.main-container {
    max-width: 1440px;
    margin: auto;
    background-color: var(--White);
}

header {
    background: url(../images/desktop/image-hero.jpg) no-repeat center;
    background-size: cover;
    background-blend-mode: multiply;
    padding: 65px var(--px);
    margin-bottom: var(--mb);
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
}

.mobile-nav-logo {
    display: none;
    cursor: pointer;
}

.mobile-nav-toggle {
    cursor: pointer;
    display: none;
    border: 0;
    background: transparent;

}

nav ul {
    display: grid;
    grid-template-columns: repeat(5, minmax(min-content, min-content));
    gap: 32px;
}

nav ul li {
    position: relative;
}

nav ul li::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: var(--White);
    transform: translateX(-50%);
}

nav ul li:hover::after {
    width: 25px;
}

.heading-banner h1 {
    border: 3px solid var(--White);
    margin-bottom: 80px;
    padding: 38px;
    max-width: 650px;
    font-size: var(--fs-h1);
    color: var(--White);
}

.about {
    position: relative;
    padding: 0 var(--px);
    margin-bottom: var(--mb);
}

.about .img-box img {
    display: block;
}

.about .content-box {
    position: absolute;
    top: 180px;
    left: 50%;
    padding: 95px;
    max-width: 640px;
    background: var(--White);
}

.about .content-box h2 {
    font-size: var(--fs-h2);
    margin-bottom: 30px;
}

.about .content-box p {
    color: var(--Dark-Gray);
    line-height: 1.7;
}

.product {
    position: relative;
    padding: 0 var(--px);
    margin-bottom: var(--mb);
}

.product h2 {
    font-size: var(--fs-h2);
    margin-bottom: 80px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 30px;
    place-content: center;
}

.product-card {
    position: relative;
    height: 450px;
    cursor: pointer;
}

.product-card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.product-card::after {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, transparent 40%, #000b);
}

.product-card:hover::after {
    background: linear-gradient(180deg, #fffa 40%, #555a);
}

.product-card h3 {
    font-size: var(--fs-h3);
    position: absolute;
    bottom: 35px;
    left: 40px;
    color: var(--White);
    z-index: 5;
}

.product-card:hover h3 {
    color: var(--Black);
}

.btn {
    position: absolute;
    right: var(--px);
    top: 5px;
    padding: 10px 35px;
    background: transparent;
    letter-spacing: 5px;
    border: 1px solid var(--Black);
    text-transform: uppercase;
    color: var(--Black);
}

.btn:hover {
    color: var(--White);
    background: var(--Black);
}

footer {
    background: var(--Black);
    padding: 45px var(--px);
    display: flex;
    justify-content: space-between;
}

.footer-logo {
    margin-bottom: 20px;
}

.footer-logo svg {
    max-width: 140px;
}

.footer-right {
    text-align: right;
}

.social-links {
    margin-bottom: 50px;
}

.social-links .social-icon {
    font-size: 1.8rem;
    color: var(--White);
}

.social-links .social-icon:not(:last-child) {
    margin-right: 12px;
}

.social-icon {
    width: 20px;
    aspect-ratio: 1;
    cursor: pointer;
}

.copyright {
    color: var(--Very-Dark-Gray);
}

@media screen and (max-width: 1200px) {
    :root {
    
        --px:80px;
    }

    .about .img-box {
        margin-bottom: 80px;
    }

    .about .img-box img {
        width: 100%;
    }

    .about .content-box {
        position: static;
        max-width: 100%;
        text-align: center;
        padding: 0 95px;
    } 
}

@media screen and (max-width: 992px) {
    .mobile-nav-logo  {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        right: 25px;
        left: 25px;
        top: 40px;
    }   

    .navigation {
        position: fixed;
        inset: 0;
        width: 100%;
        height: 100vh;
        background: var(--Black);
        padding: 25px;
        display: flex;
        align-items: center;
        z-index: 10;
        transform: translateX(100%);
        transition: .25s;
    }
    
    .navigation.active {
        transform: translateX(0);

    }

    .navigation ul {
        grid-template-columns: 1fr;
        grid-template: 25px;
    }

    .navigation ul li  a {
        font-family: var(--ff--josefin-sans);
        font-size: 25px;
        font-weight: var(--fw-300);
        text-transform: uppercase;
    }

    nav ul li::after {
        display: none;
    }

    .mobile-nav-toggle {
        display: block;
    }

    .product h2 {
        text-align: center;
    }

    .btn {
        position: static;
        display: block;
        width: max-content;
        margin: auto;
        margin-top: 80px;
    }

    footer {
        flex-direction: column;

    }
    .footer-left {
        margin-bottom: 30px;
    }

    .footer-logo {
        text-align: center;
    }

    .footer-navigation ul {
        place-content: center;
    }

    .footer-right {
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    :root {
        --fs-h1: 4em;
        --fs-h2: 2.8em;

        --px:165px;
        --mb: 120px;
    }
    
    .heading-banner h1 {
        padding: 22px;
    }

    .about .content-box {
        padding: 0 50px;
    }

    footer {
        padding: 55px var(--px);
    }

    .footer-left {
        margin-bottom: 50px;
    }

    .footer-logo {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 768px) {
    :root {
        --fs-h1: 2.6em;
        --fs-h2: 2.1em;
        --fs-h2: 1.6em;

        --px:25px;
        --mb: 100px;
    }

    header {
        background: url(../images/mobile/image-hero.jpg) center no-repeat;
        background-size: cover;
        padding: 40px var(--px);
    }

    .nav-bar {
        margin-bottom: 160px;
    }

    .heading-banner h1 {
        margin-bottom: 175px;
    }
    
    .about .img-box {
        margin-bottom: 50px;
    }
    
    .about .content-box {
        padding: 0 15px;
    }
    
    .about .content-box h2  {
        margin-bottom: 20px;
        
    }

    .product h2 {
        margin-bottom: 20px;
    }

    .product-grid {
        gap: 25px;
    }

    .product-card {
        height: 117px;
    }

    .product-card h3 {
        bottom: 15px;
        left: 20px;
    }

    .btn {
        margin-top: 35px;
    }

    .footer-navigation ul {
        grid-template-columns: 1fr;
        gap: 20px;
        text-align: center;
    }

    .social-links {
        margin-bottom: 15px;
    }
}